*, *::before, *::after {
    box-sizing: border-box;
}
/* Подключаю стиль Rubik */
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

/* Подключаю стиль Raleway */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
 height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;

    font-size: 18px;
    line-height: 30px;
    color: #242424;
    background-color: #FFFFFF;
    margin-top: 40px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style: none;
}

/* Шапка сайта с навигацией */
   /* Весь хэдэр */
header {
    position: relative;
    background-color: #FFE17F;
    color:#000000;
    width: 1160px;
    margin: 0 auto; 
}

 /* Общая навигация, внутри верхняя и нижняя строки навигации */
.navigation {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 0 auto;
    margin-top: 34px;
}

.nav-header-top {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    width: 1041px;
}
/* Лого */
.navigation-logo {
    position: absolute;
    top: -23px;
    left: 62px;

}
/* Навигация юзера */
.navigation-user {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
}
/* Поиск */
.form-search {
    display: flex;
    position: relative;
    width: 516px;
}
.search {
    width: 100%;
    background-color: #FFE17F;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: url(../images/user-nav/search.svg);
    background-repeat: no-repeat;
    background-position: 2px 10px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.search::-webkit-search-cancel-button {     /* Убираем крестик в поле поиска */
    display: none;
}

.search-button {
    display: none;
    position: absolute;
    width: 160px;
    height: 43px;
    right: 0;

    font: inherit;
    background: none;
    border: 2px solid #000000;
    border-radius: 0px 20px 20px 0px;
}

.search:not(:placeholder-shown) ~ .search-button {  /* Когда нет placeholder'a, то показываем кнопку */
    display: block;
}

.search:active, .search:focus {
    border: none;
    outline: none;
}

.search:focus {
    border: 2px solid #AF4FFF;
}

.search:not(:placeholder-shown) { /* активность - когда идёт набор текста */
    border: 2px solid #000000;
}

.search:hover {
    opacity: 0.6;
}

input::placeholder {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.search-button:focus {
    border: 2px solid #AF4FFF;
    color: #000;
}

.search-button:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}

.search-button:active {
    border-color: #000;
    background-color: #000;
    color: rgba(255, 255, 255, 0.3);
  }

.search-svg {
    margin-right: 20px;
}
/* Юзер */
.navigation-user-item {
    position: relative;
}

.navigation-user-link,
.shop-cart {
    font-family: inherit;

    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: inherit;
}

.navigation-user-link {
    border: none;
    background-color: #FFE17F;
    padding: 15px;
}

.some-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    width: 21px;
    height: 21px;
    top: 12px;
    left: -1px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-right: 10px;
}

.navigation-user-item:first-child {
    width: 245px;
    margin-right: 15px;
}

.navigation-user-item:nth-child(2) {
    width: 120px;
    margin-right: 15px;
}

/* Основное меню */
.nav-header-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
    width: 1160px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-right: 20px;
}

.navigation-link {
    font-family: "Raleway", sans-serif;
    padding: 14px 20px 15px;

    line-height: 21px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: inherit;
    border: 2px solid transparent;
}

.open-menu {
    display: flex;
    align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    border: none;
    background-color: #FFE17F;
    margin-left: 60px;
    cursor: pointer;
}

.open-menu::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background: url(../images/nav/plus.svg) center center no-repeat;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

/* Выпадающее меню */

.dropdown-menu-container {
    display: none; 
    margin: 0;
    flex-basis: 100%;
    padding-left: 62px;
    padding-top: 50px;
}

.dropdown-menu-container:hover {
    display: flex;
}

.open-menu:hover ~ .dropdown-menu-container, .open-menu:focus ~ .dropdown-menu-container {
    display: flex;
}

.dropdown-menu {
    display: grid;
    grid-template-columns: repeat(3, 217px);
    grid-template-rows: 210px;
    margin: 0;
    padding: 0;
}

.dropdown-menu-item:not(:first-child) {
    margin-left: 50px;
}

.dropdown-sublist {
    margin: 0;
    padding: 0;
}

.dropdown-sublist-item {
    padding-bottom: 10px;
}

.dropdown-sublist-link {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
}

/* Состояния для пунтков меню */

.navigation-user-link:focus {
    outline: 2px solid #AF4FFF;
    border-radius: 25px;
}

.navigation-user-link:hover {
    opacity: 0.6;
}

.navigation-user-link:active {
    opacity: 0.3;
}

.navigation-link:focus {
    border: 2px solid #AF4FFF;
    border-radius: 25px;
    outline: none;
}

.navigation-link:hover {
    border: 2px solid transparent;
    border-bottom: 2px solid #000000;
    border-radius: 0;
}

.navigation-link:active {
    opacity: 0.3;
}
/* Номер большой картинки */
.big-numbers {
    width: 1160px;
    margin-top: 45px;
}

.big-number {
    display: flex;
    align-items: center;
    width: 250px;
    height: 135px;
    margin-left: auto;
    border: 1px solid purple;

    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
}
/* Main между шапкой и футром */

.main-container {
    flex-grow: 1;
}
/*  Крупная картинка с описанием */
.gadgets-item {
    display: flex;
    width: 1160px;
    margin:0 auto;
}

.gadget-container-pic {
    display: flex;
}

.gadget-container-description {
    width: 560px;
    margin-left: auto;
}  
/* Подробнее */ 
.more-pagination,
.stats-list {
    display: flex;
}

.more {
    position: relative;
    font-family: "Raleway", sans-serif;
    width: 220px;
    margin-top: 60px;
    margin-right: 200px;
    margin-left: 40px;

    line-height: 21px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.more::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 8px;
    background-color: #FFE17F;
    z-index: -1;
}

/* Слайдеры пагинации */
.slider-pagination {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 80px;
    height: 12px;
}

.slider-pagination-button {
    padding: 0;
    width: 12px;
    height: 12px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.slider-pagination-button:focus {
    border: 2px solid #AF4FFF;
}

.slider-pagination-button:hover {
    opacity: 0.3;
}

.slider-pagination-button:active {
    opacity: 0.6;
}


/* Характеристики товара */
.stats-list {
    margin-top: 70px;
}

.stats-list-item {
    display: flex;
    flex-direction: column;
}

.stats-item-big {
    width: 160px;
    height: 52px;
}

.stats-list-item:first-child {
    margin-right: 20px;
}

/* Типы товаров в наличии */
.product-types-container {
    width: 1160px;
    margin: 0 auto;
    margin-top: 109px;
}

.product-types-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.product-types-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
  }
  
.product-types-name-box {
    width: 160px;
    height: 60px;
    margin-top: 33px;
  }
  
.product-types-link {
    text-decoration: none;
  }
  
  .product-types-name {
    font-family: "Raleway", sans-serif;
  
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
  }

/* Слайды: доставка, гарантия, кредит */
.services {
    display: flex;
    margin-top: 69px;
}

.services-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.services-list {
    margin: 0;
    padding: 0;
}

.services-slides {
    width: 760px;
    margin-left: auto;

}

.services-item-button {
    position: relative;
    font-family: "Raleway", sans-serif;

    width: 160px;
    font-weight:800;
    font-size: inherit;
    line-height: 21px;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: none;
    z-index: 0;
}

.services-item-button::before {
    content: "";
    position: absolute;
    top: 6px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    background-color: #FFE17F;
    z-index: -1;
}
   
.services-item:not(:first-child) {
      margin-top: 40px;
}

.services {
    background-color: #F0F0F0;
}

.services-slides-item {
    color: #444444;
}

/* Полоса Доставим Редкий Товар Под Заказ */
.special-delivery {
    display: flex;
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    margin-top: 90px;
}

.special-delivery {
    background-color: #F0F0F0;
}

.special-delivery-pic {
    width: 125px;
    height: 100px;
    background-color: #FFE17F;
    text-align: center;
    padding: 35px 39px 34px 39px;
    margin: 0;
}

.special-delivery-service {
    font-family: "Raleway", sans-serif;

    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 910px;
    margin-top: 37px;
}

.delivery-info-link {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 29px 33px 31px 52px;
}

/* О нас и контакты  */
.us-contacts-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-top: 97px;
    justify-content: space-between;
}

.about-us,
.contacts {
    width: 560px;
}

.about-us-text {
    width: 500px;
}

.about-us-list {
    padding: 0;
    margin: 0;
    margin-top: 90px;
    list-style-type: disc;
    margin-bottom: 83px;
}

.about-us-item {
    color: #FFC700;
}

.contact-title-description {
    width: 510px;
}

.about-us-title,
.contacts-title {
    position: relative;
    font-family: "Raleway", sans-serif;

    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 44px;
}

.about-us-title::before,
.contacts-title::before {
    position: absolute;
    content: "";
    top: -42px;
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.contacts-adress-text {
    font-family: "Rubik", sans-serif;

    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    width: 530px;
}

.about-us-item a {
    font-family: "Rubik", sans-serif;

    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    color: #000000;
    text-decoration: none;
}

.button-about-us,
.button-contacts-us {
    position: relative;
    font-family: "Raleway", sans-serif;

    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    color: #000000; 
    text-transform: uppercase;
    text-decoration: none;
}

.button-about-us::before,
.button-contacts-us::before {
    content: "";
    position: absolute;
    top: 6px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 236px;
    height: 8px;
    background-color: #FFE17F;
    z-index: -1;
}

.contacts-phone {
    color: #444444;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
}

.contacts-subtitle-time {
    margin-top: 30px;
}

.contacts-schedule {
    padding: 0;
    margin: 0;
    margin-bottom: 67px;
}

/* Подпишитесь на рассылку  */
.subscribe {
    margin-top: 80px;
}

.сommon-subscribe-container {
    width: 1160px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 134px;
}

.subscribe-container,
.subscribe-form-container {
    display: flex;
    justify-content: space-between;
}

.subscribe-container {
    align-items: baseline;
}

.subscribe-form-container {
    margin-top: 50px;
}

.email-subscribe {
   font-family: Rubik;
   font-size: 18px;
   line-height: 30px;

   width: 600px;
   border: none;
   padding-bottom: 9px;
   border-bottom: 3px solid #e2e2e2;
   background-color: #F0F0F0; 
}

.button-subscribe {
    padding: 14px 40px;
    margin-left: -5px; 
    font-family: "Raleway", sans-serif;

    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #F0F0F0;
    border: 3px solid #e2e2e2;

}

.subscribe-free {
    width: 164px;
    font-style: normal;
    font-weight: normal;  
}

.subscribe-free-icon {
    margin-right: 20px;
}

/* Футер */
.common-footer-container {
    width: 1160px;
    margin: 0 auto;
}

.footer-container,
.footer-social {
    display: flex;
}

.footer-container {
    align-items: center;
    margin-bottom: 50px;
    margin-top: 60px;
}

.footer-social {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer-social::before {
    content: "";
    width: 80px;
    height: 7px;
    background: #FFC700;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 150px;
    margin: 0;
    padding: 0;
}

.footer-phone {
    margin-left: auto;
}

.page-footer {
    background-color: #444444;
}

.footer-contacts {
 width: 238px;
 height: 110px;
}

.footer-contacts-adress-text {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: #FFFFFF;
}

.footer-services-item a {
    font-family: "Raleway", sans-serif;

    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-services-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 58px;
}

.footer-services-list:nth-chil(3) {
    margin-right: 0;
}

.footer-services-item {
    margin-right: 7px;
}

.footer-services-item:last-child {
    margin-right: 0;
}

.footer-contacts {
    margin-right: auto;
}

.footer-contacts-phone {
    font-family: "Rubik", sans-serif ;

    font-weight:400;
    font-style:normal;
    font-size:16px;
    line-height:30px;
    color: #FFFFFF;

    text-decoration: none;
}

.footer-social-list {
    list-style-type: none;
}

/* Каталог */
.catalog-products {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding-top: 50px;
}

.catalog-filter {
    width: 200px;
    margin-top: 50px;
}

.catalog-color-group,
.catalog-bluetooth-group {
    margin-top: 12px;
}

.button {
    text-decoration: none;
    color: #000000;
    
    margin-top: 50px;
}

.catalog-right-column {
    width: 972px;
}

.quadrocopter {
    width: 560px;
}

.gadget-heading {
    font-family: "Raleway", sans-serif;

    font-size: 50px;
    line-height: 50px;
}


.gadget-description {
    color: #444444;
}
 
.stats-item-big {
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
}

.stats-item-text {
    font-family: "Rubik", sans-serif;

    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.selfie-monopods {
    margin-top: 50px;
}
 
/* Подписка */
.subscribe {
    background-color: #F0F0F0;
}

.subscribe-item {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    width: 560px;
}

.subscribe-title-description {
    font-weight: 400;
    color: #444444; 
    width: 560px;
    margin-left: auto;
}
 
/* Оформление каталога, внутренней страницы */

/* Хэдэр внутренней страницы */
.inner-header {
  background-color: #FFFFFF;
}
 /*Главный заголовок внутренней страницы */
.inner-header-title {
    font-family: "Raleway", sans-serif;

    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    margin-top: 37px;
    margin-bottom: 14px;
}

.header-catalog-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

/* Breadcrumbs */
.breadcrumbs-container {
  width: 1160px;
  margin: 0 auto;
}

.breadcrumbs {
    display: flex;
    justify-content: space-between;
    width: 425px;
    margin: 0;
    padding: 0;
    color: #000000;
    list-style-type: none;
  }
  
/* Link */
.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
  }

.catalog-filter-title {
    font-family: "Rubik", sans-serif;

    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.catalog-filter-header {
    font-family: "Raleway", sans-serif;

    
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
  }

.control-label {
    font-family: Rubik;

    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}

.sorting-header {
    font-family: "Raleway", sans-serif;

    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-right: 56px;
}

.option-value {
    font-family: Rubik;

    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    background-color: #EBEBEB;
}

/* Сортировка по-возрастанию и по-убыванию */
.sorting-container {
    display: flex;
    padding: 10px;
    margin-bottom: 70px;
    background-color: #EBEBEB;
}

.button-sort-list {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
/* Товары */
.product-list {
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px;
    margin-bottom: 44px;

    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 44px;
}

.product-card {
    display: flex;
    flex-direction: column;
}

.product-card-image {
    object-fit: cover;
    width: 360px;
    height: 380px;
}

.product-card-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.product-card-link {
    text-decoration: none;
}

.product-card-title {
   font-family: "Rubik", sans-serif;

   font-weight: 700;
   font-style: normal;
   font-size: 18px;
   line-height: 24px;
   color: #000000;
}

.title-flex-container {
    width: 280px;
}

.product-card-price {
    font-family: "Rubik", sans-serif;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
}

/* Загрузить ещё */
.pagination-show-more {
    width: 760px;
    height: 55px;

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

/* Пагинация */
.pagination{
    background-color: #EBEBEB;
    list-style-type: none;
}

.pagination-link {
    font-family: "Rubik", sans-serif;

    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #444444;
    text-decoration: none;
}

.pagination-back,
.pagination-next {
    font-family: Raleway;

    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
}
 /* Контейнер для всей пагинации */
.big-pagination-container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    margin-top: 50px;
    margin-bottom: 77px;
    background-color:  #EBEBEB;
}

.pagination-item-back {
    margin-left: 30px;
}

.pagination-item-next {
    margin-right: 30px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 166px;
}

.catalog-container {
    margin-right: 72px;
    background-color: #EBEBEB;
}